P {
    font-family: 'Graduate', cursive;
    font-size: 25PX;
    color: white;
    text-align: center;
}

input {
    background-color: rgba(174, 226, 241, 0.493);
    border: inset;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    width: 95%;
    text-align: end;
    filter: brightness(1);

}

.header-report {
    height: 50%;
    border: dotted rgb(224, 129, 20);
    padding: 15px;
    
}

.labels-report {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 20px;
    color: white;
}

.input-search {
    width: 100%;
    background: #FFFFFF;
    padding: 6px 12px;
}